<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Page</title>
    <link rel="stylesheet" href="/home.css">
</head>

<body>
    <div class="nav-container">
        <h1>Navigation</h1>
        <div class="nav-links">
            <a href="/company/companyRoute">Company Details</a>
            <a href="/employee/employeeRoute">Employee Details</a>
            <a href="/person/personRoute">Person Details</a>
            <a href="/attendence/attendanceRoute">Attendance Details</a>
            <a href="/education/educationRoute">Education Details</a>
            <a href="/banking/bankingRoute">Banking Details</a>
            <a href="/time_off/time_offRoute">Leave Details</a>
        </div>
    </div>
</body>

</html>












